<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>

<h1>Đây là một trang web</h1>

<a href="/about">About</a>

<h2>Submit để tới màn Hello</h2>
<form method="get" action="/hello">
    <label>Name: </label>
    <input type="input" name="name">
    <label>Address: </label>
    <input type="input" name="address">
    <button type="submit">Submit</button>
</form>

<h2>Submit để tới màn Hello 2</h2>
<form id="myForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required>

    <button type="submit">Submit</button>
</form>


</body>
</html>

